#illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 10rem;
  background-color: #1a1a1a;
  color: white;
  // height: 100vh;

  .illustration-desc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    h1 {
      font-family: 'Calibre-SB';
      font-size: 6.4rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }

  .illustration-title-desc {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    gap: 1rem;
    a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 979px) {
  #illustration {
    padding: 0;
    .illustration-title-desc {
      padding: 10rem 5rem;
    }
    .illustration-desc {
      display: block;
      gap: 0;
    }
  }
}
