#illustration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;

  background-color: #1a1a1a;
  color: white;

  .projects-title-desc p {
    width: 40%;
  }
}
