.project-name {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5rem;

  .project-banner {
    display: flex;
    align-content: center;
    img {
      width: 60rem;
      height: 33.5rem;
      box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.1);
      // filter: brightness(95%);
      transition: all 0.3s ease;
    }
  }

  .project-info {
    display: flex;
    flex-direction: column;
    width: 60rem;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      :hover {
        color: red;
      }
    }
    p {
      font-size: 3.2rem;
      color: black;
      transition: all 0.1s ease;
    }
    svg {
      margin: 0;
    }
  }

  .project-body {
    display: flex;
  }

  .project-details-container {
    display: flex;
    flex-direction: column;
  }

  .project-details {
    .tech-stack {
      display: flex;
      margin: 0.5rem 0 1rem 0;
      li {
        color: grey;
        list-style: none;
        font-size: 1.6rem;
        margin-right: 1rem;
      }
    }
  }

  .project-desc {
    margin-top: 1rem;
    min-height: 11.3rem;
    p {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  .project-team {
    margin: 1rem 2rem 0 0;
    min-height: 8.8rem;
    h2 {
      margin-bottom: 1rem;
    }
    img {
      width: 5rem;
      border-radius: 50px;
      margin-right: 2rem;
    }
  }
}
