.app {
  .banner {
    color: #fff;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;

    background: #1a1a1a;
    background-position: top right;
    background-size: cover;

    // &:after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: 0;
    //   background-color: #12002f;
    //   opacity: 0.8;
    // }
  }

  .container {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem 1rem;
    gap: 9rem;
    z-index: 1;
    h1:first-child {
      font-family: 'Calibre-SB';
      font-size: 4.8rem;
      color: red;
    }

    h1:nth-child(2) {
      font-family: 'Calibre-SB';
      font-size: 9.6rem;
    }

    h2 {
      font-size: 2.2rem;
      color: grey;
      letter-spacing: 0.4rem;
    }
    .intro {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 15rem;
      animation: logo-spin infinite 20s linear;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
