@font-face {
  font-family: 'Calibre-SB';
  src: url('/public/CalibreSemibold.otf');
}

@font-face {
  font-family: 'Calibre';
  src: url('/public/CalibreRegular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibre', 'Calibre-SB', san-serif;
}

html {
  height: 100vh;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: white;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus-visible {
  // outline: none;
}

// ================== LINK & SCROLLBAR

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: lightgrey;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

::-webkit-scrollbar-thumb:horizontal {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: lightgrey;
}
