.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 3rem 3rem;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #1a1a1a;
  box-shadow: 0 10px 30px -10px rgba(26, 26, 26, 0.7);
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  a {
    height: 100%;
  }
  .nav_logo {
    height: 100%;
    cursor: pointer;
  }
  .nav_links {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    gap: 2rem;
    p {
      color: #fff;
      letter-spacing: 0.1rem;
    }
    a {
      text-decoration: none;
      text-decoration-color: #e50914;
      :hover {
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 2px;
        text-decoration-color: #e50914;
      }
    }
  }
}
