.nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 3rem;
  width: 100%;
  z-index: 1;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-black {
  background-color: #1a1a1a;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
}

.nav-content a {
  height: 100%;
}

.nav-content .nav-logo {
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.nav-content .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.nav-content .nav-links p {
  color: white;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-content .nav-links a {
  text-decoration: none;
}

.nav-content .nav-links a :hover {
  color: red;
}

.ham-icon,
.ham-icon-open {
  width: 30px;
  height: 5px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  z-index: 4;
  display: none;
}

.ham-icon span,
.ham-icon-open span {
  position: absolute;
  height: 5px;
  width: 100%;
  background: #e70000;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 4;
}

.ham-icon span:nth-child(1) {
  top: -11px;
}

.ham-icon span:nth-child(2),
.ham-icon span:nth-child(3) {
  top: 0px;
}

.ham-icon span:nth-child(4) {
  top: 11px;
}

.ham-icon-open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.ham-icon-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ham-icon-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ham-icon-open span:nth-child(4) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  visibility: hidden;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: pointer;
}

.overlay-visible {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  visibility: visible;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  cursor: pointer;
}

.ham-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 5rem 1rem;
  width: calc(min(75vw, 400px));
  min-height: 100vh;
  outline: 0px;
  color: white;
  background-color: #1a1a1a;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.ham-menu-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 5rem 1rem;
  width: calc(min(75vw, 400px));
  min-height: 100vh;
  outline: 0px;
  color: white;
  background-color: #1a1a1a;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  visibility: visible;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.ham-menu-visible .ham-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 2.2rem;
  gap: 4rem;
}

.ham-menu-visible .ham-links hr {
  margin: auto;
  width: 10%;
  border: none;
  background-color: grey;
  height: 1px;
}

.ham-menu-visible .ham-links p {
  color: white;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ham-menu-visible .ham-links a {
  text-decoration: none;
}

.ham-menu-visible .ham-links a :hover {
  color: red;
}

.ham-menu-visible .ham-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .nav .nav-links a {
    display: none;
  }
  .ham-icon,
  .ham-icon-open {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .ham-menu-visible {
    display: none;
  }
  .overlay-visible {
    display: none;
  }
}
/*# sourceMappingURL=Nav.css.map */