#design {
  display: flex;
  background-color: #1a1a1a;
  // background: linear-gradient(360deg, #1a1a1a, #000000);

  color: white;
  padding: 10rem;
  min-height: 100vh;
}

.designs-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // margin-left: 5rem;
  width: 100%;
  h1 {
    font-family: 'Calibre-SB';
    font-size: 6.4rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.designs-title-desc {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}

.adobe-icons {
  display: flex;
  justify-content: center;

  flex: 1 1 50%;
  gap: 5rem;
  .icon-row-1,
  .icon-row-2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  img {
    max-width: 11rem;
    height: auto;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1004px) {
  .designs-desc {
    gap: 5rem;
  }
  .adobe-icons {
    gap: 3rem;
    img {
      width: 100%;
    }
  }
}

// ======================== WORD / ICON GLOW

.ind {
  color: rgba(255, 48, 102, 1);
}
.ps {
  color: rgba(48, 168, 255, 1);
}
.ai {
  color: rgba(255, 154, 0, 1);
}
.xd {
  color: rgba(255, 97, 247, 1);
}
.pp {
  color: rgba(153, 153, 255, 1);
}
.ae {
  color: rgba(153, 153, 255, 1);
}
