#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  text-align: center;
  min-height: 100vh;

  background-color: #f2f2f2;
  color: black;

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;

    img {
      width: 20rem;
      border-radius: 100%;
      position: relative;
    }
  }

  span {
    color: red;
  }

  h1 {
    font-family: 'Calibre-SB', sans-serif;
    font-size: 6.4rem;
    margin-top: 5rem;
  }

  h2 {
    font-size: 2.2rem;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  p {
    margin-top: 0.8rem;
    font-size: 1.8rem;
  }

  .contact-btns {
    display: flex;
    margin-top: 5rem;
    gap: 2.5rem;
    a {
      color: white;
      background-color: red;
      border: 1px solid red;
      border-radius: 5px;
      padding: 1.5rem 2.5rem 1rem 2.5rem;
      font-size: 1.8rem;
      line-height: 1;
      text-decoration: none;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        color: red;
        background-color: transparent;
        border: 1px solid red;
      }
    }
  }
}

// =============================== CIRCLE

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);

  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, 0.25),
    0 -1px 0 $weight rgba($mix-sub-from, 0.25),
    1px 0 0 $weight rgba($mix-sub-to, 0.25),
    -1px 0 0 $weight rgba($mix-sub-from, 0.25),
    1px -1px 0 $weight rgba($mix-main, 0.5),
    -1px 1px 0 $weight rgba($mix-main, 0.5), 1px 1px 0 $weight rgba($to, 0.75),
    -1px -1px 0 $weight rgba($from, 0.75);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 23rem;
  width: 23rem;

  border-radius: 100%;
  @include border-gradient(red, black);
  // animation: rotateThis 2s linear infinite;
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

// =============================== FOOTER

.contact-footer {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  gap: 1rem;
  display: none;
}

// =============================== MEDIA QUERY

@media screen and (max-width: 770px) {
  #contact {
    .about {
      margin: 0;
    }
    padding: 5rem;
    h1 {
      margin-top: 3rem;
    }
    .contact-btns {
      margin-top: 5rem;
    }
    .contact-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }
    .about img {
      width: 15rem;
    }
    .circle {
      height: 18rem;
      width: 18rem;
    }
  }
}
